<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'C_Stlyes.css' %}">
    <title>Document</title>
    <script>
      function sendingvalues(itemName, image){
        const cardElement = event.currentTarget;
        const price = cardElement.querySelector('.card-price').getAttribute('data-price');
        // alert(price);
        selectItem(itemName);
        selectImage(image);
        itemPrice(price);

        
      }
        function selectItem(itemName) {
            // Send a message to the parent page with the selected item and image
            window.parent.postMessage({ selectedItem: itemName }, '*');
        }
        function selectImage(image){
          window.parent.postMessage({ selectedImage: image }, '*');
        }
        function itemPrice(price){
          window.parent.postMessage({ itemPrice: price }, '*');
        }

  </script>
  
</head>
<body>
  
    <div class="try">
      <div class="card" onclick="sendingvalues('Chicken Curry', 'https://drive.google.com/thumbnail?id=1-gseVtKuYuqS8i86EuU-J1kmjfZcYaDu')">
        <img src="https://drive.google.com/thumbnail?id=1-gseVtKuYuqS8i86EuU-J1kmjfZcYaDu" class="card_img" alt="...">
        <div class="card-body">
            <p class="card-text"><center>Chicken Curry</center></p>
            <p class="star-rating">&#9733; 4 stars</p>
            <p class="card-price" id="cip1" data-price="30"><center>₹ 30</center></p>
        </div>
    </div>
        <div class="card" onclick="sendingvalues('Fried Rice', 'https://drive.google.com/thumbnail?id=1zx7BJf4z9fWXv5uefl3e552AV0xIQts4')">
            <img src="https://drive.google.com/thumbnail?id=1zx7BJf4z9fWXv5uefl3e552AV0xIQts4" class="card_img" alt="..." >
            <div class="card-body">
              <p class="card-text" ><center>Fried Rice</center></p>
              <p class="star-rating">&#9733; 2.5 stars</p>
              <p class="card-price" id="cip1" data-price="40"><center>₹ 40</center></p>
            </div>
        </div>
        <div class="card" onclick="sendingvalues('Frankie', 'https://drive.google.com/thumbnail?id=12Dkmcq6kcQH8aN7V-OUJ_IFJFUxjNBfj')">
            <img src="https://drive.google.com/thumbnail?id=12Dkmcq6kcQH8aN7V-OUJ_IFJFUxjNBfj" class="card_img" alt="..." >
            <div class="card-body">
              <p class="card-text" ><center>Frankie</center></p>
              <p class="star-rating">&#9733; 3 stars</p>
              <p class="card-price" id="cip1" data-price="50"><center>₹ 50</center></p>
            </div>
        </div>
        <div class="card" onclick="sendingvalues('Chicken Gravy', 'https://drive.google.com/thumbnail?id=1aaJwWWEKFxHysHd2qhIqm9a6qzN_gdYc')">
            <img src="https://drive.google.com/thumbnail?id=1aaJwWWEKFxHysHd2qhIqm9a6qzN_gdYc" class="card_img" alt="..." >
            <div class="card-body">
              <p class="card-text" ><center>Chicken Gravy</center></p>
              <p class="star-rating">&#9733; 4 stars</p>
              <p class="card-price" id="cip1" data-price="30"><center>₹ 30</center></p>
            </div>
        </div>
        <div class="card" onclick="sendingvalues('Egg Masala', 'https://drive.google.com/thumbnail?id=1ipCBp01yAQ_8izahkal0khOARzBShf_1')">
            <img src="https://drive.google.com/thumbnail?id=1ipCBp01yAQ_8izahkal0khOARzBShf_1" class="card_img" alt="..." >
            <div class="card-body">
              <p class="card-text" ><center>Egg Masala</center></p>
              <p class="star-rating">&#9733; 4 stars</p>
              <p class="card-price" id="cip1" data-price="30"><center>₹ 30</center></p>
            </div>
        </div>
        <div class="card" onclick="sendingvalues('Biryani', 'https://drive.google.com/thumbnail?id=1ICcc2A4szOqXMr38XtFa2rbdCf8tPpZX')">
            <img src="https://drive.google.com/thumbnail?id=1ICcc2A4szOqXMr38XtFa2rbdCf8tPpZX" class="card_img" alt="..." >
            <div class="card-body">
              <p class="card-text" ><center>Biryani</center></p>
              <p class="star-rating">&#9733; 5 stars</p>
              <p class="card-price" id="cip1" data-price="80"><center>₹ 80</center></p>
            </div>
        </div>
        <div class="card" onclick="sendingvalues('Hot Dog', 'https://drive.google.com/thumbnail?id=1ZbmF9Z3evvtPB0exkq1AloXNo6NkFdcl')">
            <img src="https://drive.google.com/thumbnail?id=1ZbmF9Z3evvtPB0exkq1AloXNo6NkFdcl" class="card_img" alt="..." >
            <div class="card-body">
              <p class="card-text" ><center>Hot Dog</center></p>
              <p class="star-rating">&#9733; 3.5 stars</p>
              <p class="card-price" id="cip1" data-price="45"><center>₹ 45</center></p>
            </div>
        </div>
        <div class="card" onclick="sendingvalues('Burger', 'https://drive.google.com/thumbnail?id=15L6Gh7MwcKDsXMEAgrkG3uv63mZ4KqoV')">
            <img src="https://drive.google.com/thumbnail?id=15L6Gh7MwcKDsXMEAgrkG3uv63mZ4KqoV" class="card_img" alt="..." >
            <div class="card-body">
              <p class="card-text" ><center>Burger</center></p>
              <p class="star-rating">&#9733; 3.4 stars</p>
              <p class="card-price" id="cip1" data-price="50"><center>₹ 50</center></p>
            </div>
        </div>
        <div class="card" onclick="sendingvalues('Chicken Handi', 'https://drive.google.com/thumbnail?id=1-gseVtKuYuqS8i86EuU-J1kmjfZcYaDu')">
            <img src="https://drive.google.com/thumbnail?id=1-gseVtKuYuqS8i86EuU-J1kmjfZcYaDu" class="card_img" alt="..." >
            <div class="card-body">
              <p class="card-text" ><center>Chicken Handi</center></p>
              <p class="star-rating">&#9733; 4 stars</p>
              <p class="card-price" id="cip1" data-price="70"><center>₹ 70</center></p>
            </div>
        </div>
        <div class="card" onclick="sendingvalues('Chicken Lolipop', 'https://drive.google.com/thumbnail?id=1AO_u31T0MhqGaZFnhd16svfRqUQgS3PW')">
            <img src="https://drive.google.com/thumbnail?id=1AO_u31T0MhqGaZFnhd16svfRqUQgS3PW" class="card_img" alt="..." >
            <div class="card-body">
              <p class="card-text" ><center>Chicken Lolipop</center></p>
              <p class="star-rating">&#9733; 4.2 stars</p>
              <p class="card-price" id="cip1" data-price="25"><center>₹ 25</center></p>
            </div>
        </div>
        
        
    </div>
    <script>
      // Add this code to each iframe page (e.g., c1.html, c2.html, etc.)
      document.addEventListener('DOMContentLoaded', function () {
          const cardElement = document.querySelector('.card'); // Replace with the actual selector for your card elements

          cardElement.addEventListener('click', function () {
              // Scroll to the "Selected" label in the parent window
              window.parent.scrollToSelectedLabel();
          });
      });

    </script>
    <!-- <script>
      function setPriceInCenterTag() {
        const cardElements = document.querySelectorAll('.card');
    
        cardElements.forEach((cardElement, index) => {
          const price = cardElement.querySelector('.card-price').getAttribute('data-price');
          const priceCenter = cardElement.querySelector('.card-price center');
          priceCenter.textContent = `₹ ${price}`;
        });
      }
    
      // Call the function when the page is loaded
      window.addEventListener('load', setPriceInCenterTag);
    </script> -->
    
    
    

</body>
</html>