<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Canteen</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'popup.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="icon" type="image/x-icon" href="https://drive.google.com/thumbnail?id=1sNawcZcmOmCP57CemNGRqmLvrOESuS0J">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" >
    </head>
    <body>
        <div id="popup" class="popup">
            <div class="popup-content">
                <!-- <span class="close-popup" onclick="closePopup()">&times;</span> -->
                <p id="popup-message"></p>
                <button class="okay-button" onclick="closePopup()">Okay</button>
            </div>
        </div>
        <header>
            
            <div class="logo">
                
                <a href="/backend/canteen/templates/login.html">
                  <img src="https://drive.google.com/thumbnail?id=1sNawcZcmOmCP57CemNGRqmLvrOESuS0J" width= '77px' height='67px 'alt="Smart Canteen">
                </a>
            </div>
            <nav class="navigation">
                <div class="search-cont">
                    <span class="search-icon"><i class="fas fa-search"></i></span>
                  <input type="search" id="search-box"  class="search-box">
                </div>
                <a href="#about">About</a>
                <a href="#services" class="s_one">Services</a>
                <button class="btnLogin-popup">Sign In</button>
            </nav>
        </header>
        
        <br><br><br>
        <div class="banner">
            <img src="https://drive.google.com/thumbnail?id=1ASmTEe5O-wHSN-gYcBxW3vSacuto_A69" width="100%" height="100%">
            <!-- <video autoplay muted loop playsinline width="100%" height="100%">
               
                <source src="https://drive.google.com/uc?export=download&id=1KSuwauuXKGM98N-McLGWT_6un2GIG9a-" type="video/mp4">
                Your browser does not support the video tag.
            </video> -->
        </div>
        <script>
            // JavaScript code to show the banner
            const banner = document.querySelector('.banner');
            banner.classList.add('show'); // Add the 'show' class to trigger the animation
        </script>
        <div class="boxe">
        <div class="wrapper">
            <span class="icon-close">
                <ion-icon name="close-outline"></ion-icon>
            </span>
            <div class="form-box login">
                <br>
                <h2>Login</h2>
                <form action="" method="POST" id="login-form">
                    {% csrf_token %}
                    <div class="userselec">
                      
                        <button class="uselec  selected" style="margin-left: 30px;" onclick="selectUser(this)"><ion-icon name="accessibility"></ion-icon>Customer</button>
                        <button class="uselec" style="margin-right: 30px;" onclick="selectUser(this)"><ion-icon name="man"></ion-icon>Admin</button>
                    
                    </div>
                    <div class="input-box">
                        <span class="icon"></span>
                        <input type="number" id="email" name="email" oninput="limitInputLength(this, 6)">  
                        <label>PID</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"></span>
                        <input id="password" name="password" type="password" required>  
                         <label>Password</label>
                    </div>
                    <!-- <div class="remember-forgot">
                        <a href="#" class="forgot-password-link">Forgot Password</a>
                    </div> -->
                    <div class="remember-forgot">
                            <a href="#" class="forgot-password-link">Forgot Password</a>
                        </p>
                    </div>
                    
                    <button class="btn" type="submit">Submit</button>
                    <div class="login-register">
                        <p>Don't have an account?
                            <a href="#" class="register-link">Register</a>
                        </p>
                    </div>
                </form>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const form = document.getElementById('login-form');

                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        const formData = new FormData(form);

                        fetch('/login/', {
                            method: 'POST',
                            body: formData
                        })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Network response was not ok.');
                        })
                        .then(data => {
                            console.log("Data received:", data); // Log the data to console
                            if (data.success) {
                                localStorage.setItem("username", data.username);
                                localStorage.setItem("pid", data.pid);
                                openPopup("User logged in successfully");
                                setTimeout(() => {
                                    window.location.href = '/Home/'; // Redirect to Home page
                                }, 1000); // Redirect after 1 sec
                            } else {
                                openPopup(data.message);
                            }
                        })
                        .catch(error => {
                            console.error('There was an error!', error);
                            openPopup("Failed to login");
                        });

                        // Optionally, clear the form fields after submission
                        form.reset();
                    });
                });
                
                // function homepage() 
                // {
                //     var id = document.getElementById('email').value;
                //     var pass = document.getElementById('password').value;
                //     var isAdminSelected = document.querySelector('.userselec .selected').innerText.trim() === 'Admin';

                //     if (id == 211014 && pass == '211014' && isAdminSelected) {
                //         window.location.href = 'http://127.0.0.1:8000/Home/';
                //     } else {
                //         openPopup('Invalid credentials');
                //     }
                // }

            </script>
            <div class="form-box register">
                <h2>Registration</h2>
                <form action="" method="post" id="registration-form">
                    {% csrf_token %}
                    <div class="input-box" >
                        <span class="icon"></span>
                        <input type="text" id="rusername" name="rusername">  
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"></span>
                        <input type="number" id="remail" name="remail" oninput="limitInputLength(this, 6)">  
                        <label>PID</label>
                        <button id="capture-button">Capture Barcode</button>
                    </div>
                    <div class="input-box">
                        <span class="icon"></span>
                        <input id="rpassword" name="rpassword" type="password" required>  
                         <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label>
                            <input type="checkbox" required> <a class="tnc-popup">I agree to the terms and conditions</a>
                        </label>
                    </div>
                    <button type="submit"  class="btn">Submit</button>
                    <!-- <div id="registration-message"></div> -->
                    <div class="login-register">
                        <p>Already have an account?
                            <a href="#" class="login-link">Login</a>
                        </p>
                    </div>
                </form>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('registration-form');

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(form);

        fetch('/register/', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            console.log("Data received:", data); // Log the data to console
            if (data.message === 'User registered successfully') {
                openPopup(data.message);
                setTimeout(() => {
                    window.location.reload(); // Reload the page after showing the popup
                }, 2000); // Reload after 2 seconds (adjust as needed)
            } else {
                openPopup(data.message);
            }
        })
        .catch(error => {
            console.error('There was an error!', error);
            openPopup(data.message);
        });

        // Optionally, clear the form fields after submission
        form.reset();
    });
});




document.addEventListener('DOMContentLoaded', function () {
    const captureButton = document.getElementById('capture-button');
    const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

    captureButton.addEventListener('click', function () {
        fetch('/scan_barcode/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken  // Include the CSRF token in the request headers
            },
            body: JSON.stringify({})  // Send an empty JSON object in the request body
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            console.log("Data received:", data); // Log the data to console
            if (data.barcode) {
                // Assuming you have an input field with ID "remail", set its value to the scanned barcode
                document.getElementById('remail').value = data.barcode;
            } else {
                console.error('Barcode not found within timeout period');
                // Handle the case where barcode is not found within timeout period
            }
        })
        .catch(error => {
            console.error('There was an error!', error);
            // Handle the error
        });
    });
});



            </script>
            
        </div>
        </div>
        
        
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<br><br><br>
       
       <div id="services" class="section">
          <h2>Our Services</h2><br>
          <ul class="try">
            <center>
            <div class="card">
                <img src="https://drive.google.com/thumbnail?id=1gfeswX7ngSZ_c4nKJGm2XVogpjxCNKS1" class="card_img" alt="..." >
                <div class="card-body">
                  <p class="card-text" ><center>Healthy</center></p>
                </div>
            </div>
            <div class="card">
                <img src="https://drive.google.com/thumbnail?id=1EyEHEC0RrofwXV0SrzDAxraxJ-9dkA5B" class="card_img" alt="..." >
                <div class="card-body">
                  <p class="card-text" ><center>Cashless Payment</center></p>
                </div>
            </div>
            <div class="card">
                <img src="https://drive.google.com/thumbnail?id=1rzseAsSIqjEV6FPoL60ESivQmedjf7oJ" class="card_img" alt="..." >
                <div class="card-body">
                  <p class="card-text" ><center>Order anywhere</center></p>
                </div>
            </div>
            <div class="card">
                <img src="https://drive.google.com/thumbnail?id=1QmqU5DJQkwI8e7fdofmVwsmN8zTVR4AN" class="card_img" alt="..." >
                <div class="card-body">
                  <p class="card-text" ><center>Barcode Verification</center></p>
                </div>
            </div>
            </center>
          </ul>
       </div>
       <div id="about" class="section">
        <h2>About Us</h2>
        <br>
        <p>
            Smart Canteen is a user - friendly app that helps the user to order food from canteen without having to stand in long queues. In situations of overcrowding and extreme order pile-ups at the counter, our app keeps you notified about your order and excellent service till the meal is delivered.
      </p>
     </div>
       <footer class="footer">
        <div class="navigation-foot">
            
            <div class="row">
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul class="ul1">
                        <li><a href='#'>FAQ</a></li>
                        <li><a href='#'>Payment Options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul class="ul1">
                        
                        <li><a href='#'>Privacy Policy</a></li>
                        <li><a href='#'>Affilliate Program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Us</h4>
                    <ul class="ul1">
                        <li><a href="mailto:cart2door@gmail.com">support@scsfit.com</a></li>
                        <li><p>9169420569</p></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-media-links">
                        <a href='#'><i class='fab fa-facebook-f'></i></a>
                        <a href='#'><i class='fab fa-instagram'></i></a>
                    </div>
                </div>
            </div>
        </div>
       </footer>
       
        <!-- <script src="https://smtpjs.com/v3/smtp.js"></script> -->
        <script src="{% static 'script.js' %}"></script>
        <script  src="{% static 'authentication.js' %}"></script>

    </body>
</html>