@import url('https://fonts.googleapis.com/css2?family=Poppinservices:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
}
.container{
  background-color: rgba(255,255,255,0.9);
  margin-bottom: 20px;
}
#cart-container{
  overflow-x: auto;
  border-radius: 10px;
  background-color: transparent;
}

#cart-container table{
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;  
  background-color: rgba(255,255,255,0.9);
  /* backdrop-filter: blur(20px); */
  border:2px solid black !important;
  border-radius: 10px !important;
  overflow: hidden;
}

#cart-container table thead{
  font-weight: 700;
}

#cart-container table thead td{
  background-color: #6499E9;
  color: #fff;
  border: none;
  padding: 6px 0;
}

#cart-container table td{
  /* border: 1px solid #b6b3b3;   */
  text-align: center;
}

#cart-container table td:nth-child(1){
  width: 100px;
}
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
  width: 200px;
}
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
  width: 170px;
}

#cart-container table tbody img{
  width: 100px;
  height: 80px;
  object-fit: cover;
}

#cart-container table tbody i{
  color: #8d8c89;
}
#cart-container table thead td {
  background-color: #6499E9;
  color: black;
}
#cart-bottom .coupon>div,
#cart-bottom .total>div{
  border: 1px solid #b6b3b3;
  border-radius: 10px !important;
  overflow: hidden;
}
#cart-bottom .coupon h5,
#cart-bottom .total h5{
  background-color: #6499E9;
  color: black;
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}
#blog-home{
  color:darkcyan;
  background-color: rgba(255,255,255,0.9);
}
#cart-bottom .coupon p,
#cart-bottom .coupon input{
  padding:0 12px;
}
#cart-bottom .coupon input,
#cart-bottom .coupon button,
#cart-bottom .total div>button{
  height: 44px;
  margin: 0 0 20px 12px;
}
.additems{
  margin: 10px;
  background-color: #162938 !important;
  color: #fff;
  font-weight: 700;
  border:none;
  padding: 10px;
  transition: .3s;
  
}
.additems a{
  text-decoration: none;
  color: #fff;
}
.additems:hover{
  transform: scale(1.05);
  transition: .3s;
}
#cart-bottom .coupon button,
#cart-bottom .total div>button{
  background-color: #162938;
  color: #fff;
  font-weight: 700;
  border:none;
  padding: 10px;
  transition: .3s;
}
#cart-bottom .coupon button:hover,
#cart-bottom .total div>button:hover {
  transform: scale(1.05);
  transition: .3s;
}

#cart-bottom .total div>div{
  padding: 0 12px;
}

#cart-bottom .total h6{
  color: #2a2a2a;
}
.second-hr{
  background: #b8b7b3;
  width: 100%;
  height: 1px;
}
#cart-bottom .total div>button {
  margin: auto;
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-end;
}